.container {
    font-family: "VT323", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContent {
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
    z-index: 1001;
}

.generalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

h1 {
    font-size: 2.5rem;
}

.pokeImage {
    width: 230px;
}

.types {
    display: flex;
    gap: 10px;
}

.secondaryInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.aboutContainer > p {
    font-size: 1.5rem;
}

.aboutContainer li {
    font-size: 1.5rem;
    list-style-type: none;
}

.evolutionsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.evolutionsContainer > div {
    display: flex;
}

.evolution {
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}

.evolution:hover {
    transform: scale(1.1);
}

.evolution img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}